$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  // background: url('../../public/Camouflage_1.png') no-repeat center fixed;
  background: linear-gradient(green, black);
  color: #FF6600;
}

.container-fluid {
  max-width: 960px;
  margin: auto;
}

.list {
  height: 350px;
  weight: 250px;
}
