$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-image: url('../../public/Camouflage_1.png');
  color: #FF6600
}

.list {
  height: 350px;
  weight: 250px
}
